/* myStyle.css */
body
{
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
background: linear-gradient(springgreen, lightblue);
color: #FFFFFF;
align-items: center;
align-content: center;
}

h1
{
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
 color: #FFFFFF;
 text-align: center;
 font: italic 200% fantasy;
 font-size: 100px;
}

p
{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 25px;
 color: #FFFFFF;
 text-align: center;;
 margin-bottom: 100px;
 margin-right: 150px;
 margin-left: 80px;
}

h2
{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
 color: #FFFFFF;
 text-align: center;
 font: italic 200% fantasy;
 font-size: 100px;
}
